<div id="contenedor">
    <table style="width:100%;max-width:550px;border:0;" cellpadding="8" cellspacing="0">
        <tr>
            <td>
                <label for="Nombre">Nombre *:</label>
            </td>
            <td>
                <input class="input" name="Nombre" type="text" maxlength="60"/>
            </td>
        </tr>
        <tr>
            <td>
                <label for="Telefono">Teléfono:</label>
            </td>
            <td>
                <input class="input" name="Telefono" type="text" maxlength="43"/>
            </td>
        </tr>
        <tr>
            <td>
                <label for="email">Email *:</label>
            </td>
            <td>
                <input class="input" name="email" type="text" maxlength="90"/>
            </td>
        </tr>
        <tr>
            <td>
                <label for="Comentario">Comentario*:</label>
            </td>
            <td>
                <textarea class="texto" name="Comentario" rows="7" cols="32" ></textarea>
            </td>
        </tr>
        <tr>
            <td>
                * - campos obligatorios
            </td>
            <td>
                <input name="enviar" type="submit" value="Enviar" />
            </td>
        </tr>
    </table>
</div>