<div id="contenedor">
    <div id="contenedor">
        <div id="contenedor">
            <table style="width:100%;max-width:550px;border:0;" cellpadding="8" cellspacing="0">
                <tr>
                    <td>
                        <label for="Usuario">Usuario:</label>
                    </td>
                    <td>
                        <input class="input" name="Usuario" type="text" maxlength="60"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="Contraseña">Contraseña:</label>
                    </td>
                    <td>
                        <input class="input" name="Contraseña" type="password" maxlength="43"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="Contraseña">Repita la contraseña:</label>
                    </td>
                    <td>
                        <input class="input" name="Contraseña" type="password" maxlength="43"/>
                    </td>
                </tr>
                <tr>
                    <td>
                    </td>
                    <td>
                        <input name="enviar" type="submit" value="Enviar" />
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
